.container-login {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: 50px;
  }
  
  .content-login {
    width: 50%;
    padding-block: 30px;
    background: #151515;
    border-radius: 10px;
  }
  
  .formulario-box {
    width: 32%;
    padding: 40px;
    background: #020202;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 10px 20px #111;
  }
  
  .formulario-box .user-box {
    position: relative;
  }
  
  .formulario-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fef;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fef;
    outline: none;
    background: transparent;
  }
  
  .formulario-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fef;
    pointer-events: none;
    transition: 0.2s ease;
  }
  
  .titulo-formulario {
    margin: 0 0 30px;
    padding: 0;
    color: #fef;
    text-align: center;
    text-transform: uppercase;
  }
  
  .formulario-box .user-box input:focus + label,
  .formulario-box .user-box input:valid + label {
    top: -20px;
    left: 0;
    color: #f21;
  }
  
  .formulario-box .user-box input:focus {
    border-bottom: 1px solid #f21;
    /* box-shadow:0 0 0 transparent, 0 0 0 transparent, 0 2px 15px #f21, 0 0 0 transparent; */
    
  }
  
  .formulario-box form button {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-block: 16px;
    color: #f21;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.2s ease;
    margin-top: 10px;
    letter-spacing: 4px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .formulario-box button:hover {
    background: #f21;
    color: #fef;
    border-radius: 5px;
    box-shadow: 0 0 5px #f21, 0 0 25px #f21, 0 0 50px #f21, 0 0 100px #f21;
  }
  
  .formulario-box button span {
    position: absolute;
    display: block;
  }
  
  .formulario-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f21);
    animation: btn-animl 2s linear infinite;
  }
  
  @keyframes btn-animl {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  
  .formulario-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f21);
    animation: btn-anim2 2s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  
  .formulario-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f21);
    animation: btn-anim3 2s linear infinite;
    animation-delay: 1.05s;
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
  .formulario-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f21);
    animation: btn-anim4 2s linear infinite;
    animation-delay: 1.55s;
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
  
  #mostrar-senha {
    all: unset;
    position: absolute;
    border: 1px solid #fef;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s ease;
    top: 20%;
    right: 0;
  }
  
  #mostrar-senha:checked {
    all: unset;
    position: absolute;
    background-color: #f21;
    border: 1px solid #f21;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s ease;
    top: 20%;
    right: 0;  
  }
  
  #mostrar-senha:hover {
    background: #f21;
    color: #fef;
    border-radius: 2px;
    box-shadow: 0 0 5px  #f21, 0 0 10px #f21, 0 0 20px #f21, 0 0 40px #f21;
    border: 1px solid #f21;
  }
  
  .texto-link-para-cadastro {
    color: #fef;
    font-size: 12px;
  }
  
  .link-cadastro {
    color: #f21;
    text-decoration: none;
    margin-left: 5px;
    transition: 0.2s ease;
  }
  
  .link-cadastro:visited {
    color: #f21;
    text-decoration: none;
    margin-left: 5px;
    transition: 0.2s ease;
  }
  
  .link-cadastro:hover {
    text-shadow: 0 0 5px  #f21, 0 0 10px #f21, 0 0 20px #f21, 0 0 40px #f21;
    
  }