@import url(pages-php.css);

#menu-h{
  background: transparent;
}

#menu-h-register {
  position: fixed;
  top: 0%;
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: right;
  text-transform: uppercase;
  font-size: 13px;
  background: transparent;
}
#menu-h-register ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-h-register ul li a {
  width: 120px;
  height: 35px;
  display: grid;
  place-items: center;
  transition: 0.2s;
  color: #fef;
  text-decoration: none;
  font-family: arcadeclassic;
  font-size: 15px;
}

#menu-h-register ul li a:hover {
  background-color: #f21;
  text-shadow: 0 0 5px #fef, 0 0 10px #fef, 0 0 20px #fef, 0 0 40px #fef;
  color: #fef;
}

#menu-h-register ul li:last-child a {
  background-color: #f21;
  justify-self: flex-end;
  color: #fef;
  font-family: arcadeclassic;
}

.container-form {
  width: 100%;
  display: flex;
}

.box-image-form {
  width: 50%;
  display: flex;
  background: #000;
}

.image-form {
  width: 100%;
  object-fit: cover; 
}

.content-login {
  width: 50%;
  background: #151515;
  border-radius: 10px;
}

.formulario-box {
  width: 50%;
  padding: 10% 10% 3% 10%;
  background: #fef;
  box-sizing: border-box;
}

.titulo-formulario {
  margin: 0 0 30px;
  padding: 0;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-family: arcadeclassic;
  font-size: 50px;
}

.formulario-box .user-box {
  position: relative;
}

.formulario-box .user-box input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  color: #000;
  margin-bottom: 10%;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
  font-family: rainyhearts;
}

.formulario-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.2s ease;
  font-family: arcadeclassic;
}

#show-password {
  all: unset;
  position: absolute;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s ease;
  top: 20%;
  right: 0;
}

.image-show-hide-pass {
  width: 100%;
}

/* #mostrar-senha {
  all: unset;
  position: absolute;
  border: 1px solid #000;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s ease;
  top: 20%;
  right: 0;
}

#mostrar-senha:checked {
  all: unset;
  position: absolute;
  background-color: #f21;
  border: 1px solid #f21;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
  top: 20%;
  right: 0;
}

#mostrar-senha:hover {
  background: #f21;
  color: #fef;
  border-radius: 2px;
  box-shadow: 0 0 5px #f21, 0 0 10px #f21, 0 0 20px #f21, 0 0 40px #f21;
  border: 1px solid #f21;
} */

.formulario-box .user-box input[type="text"]:focus + label,
.formulario-box .user-box input[type="text"]:valid + label, 
input[type="password"]:focus + label,
input[type="password"]:valid + label {
  top: -20px;
  left: 0;
  color: #f21;
}

.formulario-box .user-box input[type="text"]:focus, input[type="password"]:focus {
  border-bottom: 1px solid #f21;
  /* box-shadow:0 0 0 transparent, 0 0 0 transparent, 0 2px 15px #f21, 0 0 0 transparent; */
}

.texto-link-para-cadastro {
  color: #000;
  font-family: rainyhearts;
  font-size: 15px;
  font-weight: bold;
}

.link-forms {
  color: #f21;
  text-decoration: none;
  margin-left: 5px;
  transition: 0.2s ease;
  font-family: arcadeclassic;
  font-weight: normal;
  border: none;
  
}

.link-forms:visited {
  color: #f21;
  text-decoration: none;
  margin-left: 5px;
  transition: 0.2s ease;
}

.link-forms:hover {
  text-shadow: 0 0 5px #f21, 0 0 10px #f21, 0 0 20px #f21, 0 0 40px #f21;
}

.forget-pass-box {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin: 10px;
}

button.link-forms {
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.formulario-box form .button-submit {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-block: 16px;
  color: #f21;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.2s ease;
  margin-top: 10%;
  letter-spacing: 4px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: arcadeclassic;
}

.formulario-box .button-submit:hover {
  background: #f21;
  color: #fef;
  border-radius: 5px;
  box-shadow: 0 0 5px #f21, 0 0 25px #f21, 0 0 50px #f21, 0 0 100px #f21;
}

.formulario-box .button-submit span {
  position: absolute;
  display: block;
}

.formulario-box .button-submit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f21);
  animation: btn-animl 2s linear infinite;
}

@keyframes btn-animl {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.formulario-box .button-submit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f21);
  animation: btn-anim2 2s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.formulario-box .button-submit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f21);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1.05s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.formulario-box .button-submit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f21);
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.55s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.button-edicao {
  width: 50%;
  padding: 20px;
  background: none;
  color: #fef;
  margin-left: 5px;
  transition: 0.2s ease;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin-left: 25%;
  font-size: 15px;
}

.button-edicao:hover {
  text-shadow: 0 0 5px #fef, 0 0 10px #fef, 0 0 20px #fef, 0 0 40px #fef;
}

.custom-popup-forms {
  background-color: #fef !important;
  border-radius: 10px;
  padding-block: 8px 15px !important;
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
}

.custom-title-forms {
  font-family: rainyhearts; 
  font-size: 15px; 
  color: #000; 
  font-weight: normal !important;
}

.image-fail-popup {
  width: 70%;
}

.title-send-email {
  font-family: rainyhearts; 
  font-size: 25px; 
  color: #f21; 
  font-weight: normal !important;
  text-transform: uppercase;
}

.text-send-email {
  font-family: rainyhearts; 
  font-size: 18px; 
  color: #000; 
  font-weight: normal;
}

.swal2-input {
  font-family: rainyhearts;
  font-size: 18px;
  padding-block: 5%;
  height: 10px !important;
  padding: 20px 5px 20px 5px !important;
  width: 70%;
  border: none;
  border-bottom: solid 2px #000;
  box-shadow: none;
  transition: ease 0.3s;
  color: #000;
}

.swal2-input:focus {
  box-shadow: none;
  border: none;
  border-bottom: solid 2px #f21;
}

.send-email-confirm-btn, .send-email-cancel-btn{
  width: 100px;
  background: #000 !important;
  box-shadow: none !important;
  font-family: arcadeclassic;
  font-size: 15px !important;
  padding-block: 7px;
  transition: ease .2s;
}

.send-email-confirm-btn:hover, .send-email-cancel-btn:hover {
  background: #f21 !important;
}

.message-validate-send-email {
  font-family: rainyhearts;
  background: none;
}

.custom-popup-msg-err-email {
  background-color: #fef !important;
  border-radius: 10px;
  padding-block: 8px 15px !important;
  /* display: flex !important; */
  align-items: center;
  justify-content: space-evenly;
}

.custom-title-msg-err-email {
  font-family: rainyhearts !important; 
  font-size: 20px; 
  color: #000; 
  font-weight: normal !important;
}

.custom-button-error-pass {
  width: 80px;
  background: #000 !important;
  box-shadow: none !important;
  font-family: arcadeclassic;
  font-size: 18px !important;
  padding-block: 7px;
  transition: ease .2s ;
}

.custom-button-error-pass:hover {
  background: #f21 !important;
  box-shadow: 0 0 5px #f21, 0 0 25px #f21, 0 0 50px #f21 !important;
}

@media screen and (max-width: 599px), (max-height: 500px) {
  .box-image-form, .image-form {
    opacity: 0;
    width: 0;
  }

  .formulario-box {
    width: 100%;
    margin-top: 20%;
  }

  .footer {
    margin-top: 10%;
  }
}