@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto&family=Roboto+Mono:wght@600&display=swap");

.caixa-imagem-fundo {
  width: 100%;
  opacity: 30%;
  background-image: url("/Imagens/fundo-homepage-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 20%;
}

.imagem-fundo-homepage {
  width: 100%;
  padding: 1px;
}
.caixa-imagem-conteudo {
  color: #fef;
  opacity: 100%;
  width: 100%;
  text-align: center;
}

.conteudo-imagem {
  position: absolute;
  top: 15%;
  width: 60%;
  left: 20%;
  text-transform: uppercase;

}

.logo-homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 30px;
}
