html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fef;
  color: #000;
}

.logo-jogo-header {
  position: absolute;
  top: 20%;
  left: 1%;
  text-transform: uppercase;
  color: #fef;
  font-size: 20px;
  width: 20%;
}

.logo-header {
  width: 25vh;
}

#menu-cell {
  display: none;
}

#side-menu {
  display: none;
}

#close-menu {
  display: none;
}

#menu-h {
  position: fixed;
  top: 0%;
  background: #fef;
  width: 100%;
  display: flex;
  justify-content: right;
  text-transform: uppercase;
  z-index: 999;
}
#menu-h ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-h ul li a {
  width: 12vw;
  height: 6vh;
  display: grid;
  place-items: center;
  transition: 0.2s;
  color: #000;
  text-decoration: none;
  font-family: arcadeclassic;
  font-size: 1.4vw;
}

#menu-h ul li a:hover {
  background-color: #f21;
  text-shadow: 0 0 5px #fef, 0 0 10px #fef, 0 0 20px #fef, 0 0 40px #fef;
  color: #fef;
}

#menu-h ul li:last-child a {
  background-color: #f21;
  justify-self: flex-end;
  color: #fef;
  font-family: arcadeclassic;
}

.botoes-navbar {
  display: flex;
  padding-left: 20%;
}

.link-adm {
  text-decoration: none;
  font-family: arcadeclassic;
}

.link-adm:visited {
  text-decoration: none;
  font-family: arcadeclassic;
}

.button-admin {
  width: 70px;
  height: 35px;
  color: #fef;
  display: grid;
  place-items: center;
  transition: 0.2s;
  text-decoration: none;
  font-family: arcadeclassic;
  font-size: 15px;
  background-color: #f21;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-admin:hover {
  background-color: #f21;
  text-shadow: 0 0 5px #fef, 0 0 10px #fef, 0 0 20px #fef, 0 0 40px #fef;
}

.footer {
  width: 100%;
  padding-block: 5%;  
  background: #fef;
  display: flex;
  justify-content: space-around;
  color: #111;
}

.info-footer {
  text-align: center;
  font-family: arcadeclassic;
  font-size: 3vh;
}

.icones-footer {
  width: 15%;
  transition: all 0.2s ease;
}

.icones-footer:hover {
  box-shadow: 0 0 2px #fef, 0 0 50px #fef, 0 0 10px #fef, 0 0 20px #fef;
  background: #fef;
  border-radius: 30px;
}

@media (orientation: portrait), (max-height: 599px) {
  html {
    width: auto;
  }
  #menu-h ul li a {
    /* display: none; */
    width: 18vh;
    font-size: 13px;
    justify-content: center;
  }

  #menu-cell {
    position: fixed;
    display: block;
    top: 0;
    width: 1cm;
    cursor: pointer;
    z-index: 100;
  }

  /* Menu lateral */
  #side-menu {
    position: fixed;
    top: 0;
    display: block;
    left: -500vh; 
    width: 30vh;
    height: 100vh;
    background: #111;
    color: white;
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
  }

  /* Botão de fechar */
  #close-menu {
    display: block;
    align-self: flex-end;
    background: none;
    border: none;
    color: white;
    font-family: arcadeclassic;
    font-size: 4vh;
    cursor: pointer;
  }

  /* Links do menu */
  #side-menu ul {
    list-style: none;
    padding: 0;
    border-top: 2px solid #f21;
    margin: 5vh 0;
  }
  
  #side-menu ul li {
    margin: 2vh 0;
    /* border-bottom: 2px solid #f21; */
    padding: 1vh 0;
  }

  #side-menu ul li:last-child {
    border-bottom: 2px solid #f21;
    padding-bottom: 3vh;
  }

  #side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: arcadeclassic;
  }

  .show-menu {
    left: 0 !important;
  }

  #menu-h {
    display: none;
  }
  .logo-header {
    display: none;
  }
  .button-admin {
    display: none;
  }
  .info-footer {
    width: 95%;
    font-size: 18px;
  }
}

@media (max-height: 599px) {
  #side-menu {
    width: 50vh;
  }
}