  .container-user {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-descriptions {
  margin-top: 3%;
  width: 70%;
  padding-block: 4% 0;
  border-radius: 8px;
}

.title-user-info {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: arcadeclassic;
}

.line-title {
  width: 80%;
  padding: 2px;
  background: #f21;
  margin-left: 10%;
  border-radius: 2px;
}

.box-description-user {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-block: 5%;
  line-height: 30px;
}

.info-description-user {
  font-size: 15px;
  width: 30%;
  font-family: "rainyhearts";
  font-size: 18px;
}

.font-information-title {
  font-weight: bold;
  font-size: 18px;
  color: #f21;
  font-family: arcadeclassic;
}

.box-save-button {
  width: 30%;
  color: #fef;
  display: block;
  text-align: justify;
  line-height: 20px;
}

.file-path {
  color: #f21;
  font-family: "rainyhearts";
  font-size: 16px;
}

.button-save {
  margin-top: 20px;
  text-align: center;
}

input[type="file"] {
  color: transparent;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"]::before {
  content: "Carregar Save";
  padding: 10px 45px;
  background: #f21; 
  color: #fef;
  display: inline-block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s ease;
  font-family: arcadeclassic;
  font-size: 15px;
}

input[type="file"]:hover::before {
  text-shadow: 0 0 5px #fef, 0 0 25px #fef, 0 0 50px #fef, 0 0 100px #fef, 0 0 150px #fef, 0 0 200px #fef;
}

input[type="file"]::after {
  content: "Nenhum arquivo selecionado";
  margin-left: 100px;
}

#confirmationDiv {
  display: none;
  margin-top: 10%;
  color: #000;
  font-family: rainyhearts;
  font-size: 16px;
}

.button-submit-save {
  margin-top: 5%;
  width: 180px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #000;
  color: #fef;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease;
  font-family: arcadeclassic;
  font-size: 15px;

}

.button-submit-save:hover {
  color: #fef;
  background-color: #f21;
  box-shadow: 0 0 5px #f21, 0 0 25px #f21, 0 0 50px #f21, 0 0 100px #f21;
}

.info-save-button {
  color: #000;
  font-family: "rainyhearts";
  font-size: 18px;
}

.buttons-user-page {
  padding-block: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button-choose-user {
  width: 180px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #000;
  text-transform: uppercase;
  color: #fef;
  cursor: pointer;
  transition: 0.2s ease;
  font-family: arcadeclassic;
  font-size: 15px;
}

.button-choose-user:hover {
  color: #fef;
  background-color: #f21;
  box-shadow: 0 0 5px #f21, 0 0 25px #f21, 0 0 50px #f21, 0 0 100px #f21;
}

.input-container-delete {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-password-delete {
  position: absolute;
  top: 60%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 7%;
}

.container-ranking {
  width: 100%;
  background: #000;
  padding-block: 5%;
}

.title-raking {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: arcadeclassic;
  color: #fef;
}

.box-standard-rankings {
  width: 88%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 6%;
  padding-block: 0 10%;
}

.type-ranking {
  color: #f21;
  font-family: arcadeclassic;
  font-size: 50px;
  padding-block: 0 5%;
} 

.box-first-place {
  width: 35%;
  padding-block: 2%;
  color: #fef;
  font-family: arcadeclassic;
  font-size: 35px;
  align-items: center;
  text-align: justify;
}

.box-image-crown-ranking {
  width: 10%;
}

.records {
  font-family: arcadeclassic;
  color: #f21;
  font-size: 50px;
  margin-top: 10%;
}

.image-crown {
  width: 40px;
  object-fit: cover;
  margin-top: 8px;
  margin-left: 5%;
}

.box-tops-player {
  width: 50%;
  padding-block: 2% 0%;
}

.title-tops-players {
  font-family: arcadeclassic;
  color: #fef;
  font-size: 30px;
}

.list-players-ranking {
  font-family: arcadeclassic;
  color: #fef;
  font-size: 25px;
  padding-block: 3% 0;
}

#number-ranking {
  width: 100%;
  font-family: arcadeclassic;
  color: #fef;
  font-size: 25px;
  padding-block: 1%;
  display: flex;
  justify-content: space-between;
}

.nome-ranking {
  width: 40%;
  font-family: arcadeclassic;
  color: #fef;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.info-ranking {
  width: 15%;
  font-family: arcadeclassic;
  color: #fef;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.title-desative-account {
  font-family: rainyhearts; 
  font-size: 25px; 
  color: #f21; 
  font-weight: normal !important;
  text-transform: uppercase;
}

.text-desative-account {
  font-family: rainyhearts; 
  font-size: 18px; 
  color: #000; 
  font-weight: normal;
}

.swal2-input {
  font-family: rainyhearts;
  font-size: 18px;
  padding-block: 5%;
  height: 10px !important;
  padding: 20px 5px 20px 5px !important;
  width: 70%;
  border: none;
  border-bottom: solid 2px #000;
  box-shadow: none;
  transition: ease 0.3s;
  color: #000;
}
.swal2-input:focus {
  box-shadow: none;
  border: none;
  border-bottom: solid 2px #f21;
}

.desative-account-confirm-btn, .desative-account-cancel-btn{
  width: 100px;
  background: #000 !important;
  box-shadow: none !important;
  font-family: arcadeclassic;
  font-size: 15px !important;
  padding-block: 7px;
  transition: ease .2s;
}

.desative-account-confirm-btn:hover, .desative-account-cancel-btn:hover {
  background: #f21 !important;
}

.message-validate-desative-account {
  font-family: rainyhearts;
  background: none;
}

.custom-popup-forms {
  background-color: #fef !important;
  border-radius: 10px;
  padding-block: 8px 15px !important;
  /* display: flex !important; */
  align-items: center;
  justify-content: space-evenly;
}

.custom-title-forms {
  font-family: rainyhearts !important; 
  font-size: 20px; 
  color: #000; 
  font-weight: normal !important;
}

.custom-button-error-pass {
  width: 80px;
  background: #000 !important;
  box-shadow: none !important;
  font-family: arcadeclassic;
  font-size: 18px !important;
  padding-block: 7px;
  transition: ease .2s ;
}

.custom-button-error-pass:hover {
  background: #f21 !important;
  box-shadow: 0 0 5px #f21, 0 0 25px #f21, 0 0 50px #f21 !important;
}

@media (max-width: 599px), (max-aspect-ratio: 1/1) {
.container-descriptions {
  width: 80%;
}

.title-user-info {
  margin-top: 15%;
}

.line-title {
  width: 100%;
  margin: 0;
}

.box-description-user {
  display: block;
}

.info-description-user {
  width: 100%;
  padding-block: 5%;
  font-size: 20px;
}

.box-save-button {
  width: 100%;
  padding-block: 5%;
  font-size: 20px;
}

.button-choose-user {
  width: 100px;
}

input[type="file"]::before {
  margin-top: 15%;
}

.box-standard-rankings {
  display: block;
}

.box-first-place {
  width: 100%;
}

.box-tops-player {
  width: 100%;
}

.title-tops-players {
  font-size: 25px;
}

.nome-ranking {
  width: 50%;
  font-size: 20px;
}

.info-ranking {
  font-size: 20px;
width: 15%;
}

}