.container-user {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-information-user {
  width: 60%;
  background: #222;
  padding-block: 5%;
}

.image-information-user {
  width: 100%;
}

.main-image-userpage {
  width: 30%
}